<h1>Update your Tweet</h1>
<%= form_for(@tweet) do |f| %>
<%= render partial: "form", locals: {f: f} %>
<div class="actions">
  <%= f.submit "UPDATE IT"%>
</div>
<% end %>
<%= link_to 'Back', tweets_path %>
